$schema: "http://json-schema.org/draft-06/schema#"

description: snakemake-workflows gene expression configuration

properties:
  run_alignment:
    description: Run aligning to the genome or only output a counts table
    enum: [True, False]
    default: True

  quantifier:
    description: which quantifier to use
    properties:
      star:
        properties:
          quantifier_index_flags:
            default: ''
          quantifier_flags:
            default: '--readFilesCommand gunzip -c'
        default:
          quantifier_index_flags: ''
          quantifier_flags: '--readFilesCommand gunzip -c'
      salmon:
        properties:
          quantifier_index_flags:
            default: ''
          quantifier_flags:
            default: '--seqBias --gcBias --validateMappings'
        default:
          quantifier_index_flags: ''
          quantifier_flags: '--seqBias --gcBias --validateMappings'
    default:
      salmon:
        quantifier_index_flags: ''
        quantifier_flags: '--seqBias --gcBias --validateMappings'

  tximeta:
    description: tximeta is used to convert salmon output (estimated transcript abundances) to a gene counts matrix. Currently, these values can be ignored.
    properties:
      source:
        default: Ensembl # the source of transcriptome (only works with "Ensembl")
      organism:
        default: tximeta_file # organism (e.g. "Homo sapiens")
      release:
        default: 42 # release number (e.g. "27")
    default:
      soure: Ensembl
      organism: tximeta_file
      release: 42

  # differential expression analysis parameters
  diffexp:
    description: which differential expression analysis to use (DESeq2 or None, default is None). Will not run without a contrast.
    type: object
    properties:
      deseq2:
        properties:
          DE_params:
            default:
              multiple_testing_procedure: BH #alternative: IHW
              alpha_value: 0.05
              shrinkage_estimator: apeglm
          contrasts:
            default: ''
        default:
          contrasts: ''
    default:
      None:
        contrasts: ''
