*config*.yaml
*samples*.tsv
*.pyc
*.Rhistory
slurm*.out
report.html
.idea/
.snakemake/
tinydata/

*results/
*benchmark/
*dedup/
*deseq2/
*fastq/
*fastq_trimmed/
*gene_counts/
*log/
*qc/
*sra/
*bowtie2/
*bwa/
*hisat2
*star/
