*.pyc
*.Rhistory
slurm*.out
report.html
samples.tsv
config.yaml
build/
*.egg*
.idea/
.snakemake/
tinydata/
tests/tinydata_custom/

*results/
*benchmark/
*dedup/
*deseq2/
*/fastq/
*fastq_trimmed/
*gene_counts/
*log/
*qc/
*sra/
*bowtie2/
*bwa/
*hisat2
*star/

