# tab-separated file of the samples
samples: samples.tsv

# pipeline file locations
result_dir: ./results  # where to store results
genome_dir: ./genomes  # where to look for or download the genomes
# fastq_dir: ./results/fastq  # where to look for or download the fastqs


# contact info for multiqc report and trackhub
email: yourmail@here.com

# produce a UCSC trackhub?
create_trackhub: True

# how to handle plates ("technical replicates")
technical_replicates: merge

# filtering after alignment
remove_blacklist: True
remove_mito: True
tn5_shift: True
min_mapping_quality: 30
only_primary_align: True

# use 'our' default parameters
aligner: bwa-mem

# snaptools options
# min-mapq & keep-chrm set by config options above
snaptools_opt: --min-flen=0 --max-flen=1000 --keep-single=FALSE --keep-secondary=FALSE --overwrite=True --min-cov=100 --verbose=True
bin_opt: --bin-size-list 5000 --verbose=True
