subtitle: "These samples were run by <a href=\"https://vanheeringen-lab.github.io/seq2science\">seq2science</a>, a tool for easy preprocessing of NGS data."
intro_text: "Take a look at our <a href=\"https://vanheeringen-lab.github.io/seq2science/content/results.html#multiqc-quality-report\">docs</a> for info about how to use this report to the fullest."
custom_logo: '{{config["rule_dir"]}}/../imgs/rimls.jpg'
log_filesize_limit: 350000000  # 350 mb


module_order:
    - fastqc:
        name: 'FastQC (raw)'
        path_filters:
            - '*_fastqc.zip'
        path_filters_exclude:
            - '*_trimmed_fastqc.zip'
    - cutadapt
    - fastqc:
        name: 'FastQC (trimmed)'
        path_filters:
            - '*_trimmed_fastqc.zip'
    - picard
    - samtools:
        name: 'SamTools pre-sieve'
        extra: 'The pre-sieve statistics are quality metrics measured before applying (optional) minimum mapping quality, blacklist removal, mitochondrial read removal, and tn5 shift.'
        path_filters_exclude:
            - '*{{os.path.basename(config["final_bam_dir"])}}*.samtools_stats.txt'
    - samtools:
        name: 'SamTools post-sieve'
        extra: 'The post-sieve statistics are quality metrics measured after applying (optional) minimum mapping quality, blacklist removal, mitochondrial read removal, and tn5 shift.'
        path_filters_exclude:
            - '*{{config["aligner"]}}*.samtools_stats.txt'
    - deeptools
    - rseqc:
        name: 'Strandedness'
        extra: 'Sequencing strandedness was inferred for the following samples, and was called if 60% of the sampled reads were explained by either sense (forward) or antisense (reverse).'
        path_filters:
            - '*{{config["qc_dir"]}}/strandedness/*'
    - MACS2
    - featureCounts:
        name: 'macs2_frips'
        path_filters:
            - '*macs2*'
    - featureCounts:
        name: 'genrich_frips'
        path_filters:
            - '*genrich*'
    - mtnucratio

report_section_order: 
  macs2_img1:
    order: -900
  macs2_img2:
    order: -901
  genrich_img1:
    order: -902
  genrich_img2:
    order: -903
  samplesconfig: 
    order: -1000
    

table_columns_placement:
    MACS2:
        treatment_redundant_rate: 1020

table_columns_visible:
    FastQC (raw):
        percent_duplicates: False
        percent_gc: False
        avg_sequence_length: False
        percent_fails: False
        total_sequences: False
    Cutadapt:
        percent_trimmed: True
    FastQC (trimmed):
        percent_duplicates: True
        percent_gc: True
        avg_sequence_length: True
        percent_fails: False
        total_sequences: False
    Picard:
        summed_median: True
        summed_mean: False
        PERCENT_DUPLICATION: True
    SamTools pre-sieve:
        error_rate: False
        non-primary_alignments: False
        reads_mapped: False
        reads_mapped_percent: True
        reads_properly_paired_percent: False
        reads_MQ0_percent: False
        raw_total_sequences: True
    SamTools post-sieve:
        error_rate: False
        non-primary_alignments: False
        reads_mapped: False
        reads_mapped_percent: False
        reads_properly_paired_percent: True
        reads_MQ0_percent: False
        raw_total_sequences: True
    MACS2:
        treatment_redundant_rate: True
        d: False
    macs2_frips:
        percent_assigned: True
        Assigned: False
    genrich_frips:
        percent_assigned: True
        Assigned: False
    mtnucratio:
        mt_cov_avg: False
        nuc_cov_avg: True
        mt_nuc_ratio: False
        nucreads: True
        mtreads: True

custom_data:
    macs2_img1:
        section_name: 'Peak feature distribution (macs2)'
        description: 'Figure generated by chipseeker'
    macs2_img2:
        section_name: 'Distribution of peak locations relative to TSS (macs2)'
        description: 'Figure generated by chipseeker' 
    genrich_img1:
        section_name: 'Peak feature distribution (macs2)'
        description: 'Figure generated by chipseeker' 
    genrich_img2:
        section_name: 'Distribution of peak locations relative to TSS (genrich)'
        description: 'Figure generated by chipseeker' 
