subtitle: "These samples were run by <a href=\"https://vanheeringen-lab.github.io/seq2science\">seq2science</a> v{{seq2science.__version__}}, a tool for easy preprocessing of NGS data."
intro_text: "Take a look at our <a href=\"https://vanheeringen-lab.github.io/seq2science/content/results.html#multiqc-quality-report\">docs</a> for info about how to use this report to the fullest."
custom_logo: '{{config["rule_dir"]}}/../imgs/rimls.jpg'
log_filesize_limit: 350000000  # 350 mb


module_order:
    - fastp
    - fastqc:
        name: 'FastQC (raw)'
        path_filters:
            - '*_fastqc.zip'
        path_filters_exclude:
            - '*_trimmed_fastqc.zip'
    - cutadapt
    - fastqc:
        name: 'FastQC (trimmed)'
        path_filters:
            - '*_trimmed_fastqc.zip'
    - picard
    - samtools:
        name: 'SamTools pre-sieve'
        extra: 'The pre-sieve statistics are quality metrics measured before applying (optional) minimum mapping quality, blacklist removal, mitochondrial read removal, read length filtering, and tn5 shift.'
        path_filters_exclude:
            - '*{{os.path.basename(config["final_bam_dir"])}}*.samtools_stats.txt'
    - samtools:
        name: 'SamTools post-sieve'
        extra: 'The post-sieve statistics are quality metrics measured after applying (optional) minimum mapping quality, blacklist removal, mitochondrial read removal, and tn5 shift.'
        path_filters_exclude:
            - '*{{config["aligner"]}}*.samtools_stats.txt'
    - deeptools
    - rseqc:
        name: 'Strandedness'
        extra: 'Sequencing strandedness was inferred for the following samples, and was called if 60% of the sampled reads were explained by either sense (forward) or antisense (reverse).'
        path_filters:
            - '*{{config["qc_dir"]}}/strandedness/*'
    - MACS2
    - featureCounts:
        name: 'macs2_frips'
        path_filters:
            - '*macs2*'
    - featureCounts:
        name: 'genrich_frips'
        path_filters:
            - '*genrich*'
    - mtnucratio

report_section_order:
  explanation:
    order: 1000
  deeptools_spearman:
    order: -896
  deeptools_pearson:
    order: -897
  deeptools_macs2_heatmap:
    order: -898
  deeptools_genrich_heatmap:
    order: -899
  macs2_img1:
    order: -900
  macs2_img2:
    order: -901
  genrich_img1:
    order: -902
  genrich_img2:
    order: -903
  dupRadar:
    order: -950
  Sample_distance_clustering:
    order: -951
  Spearman_correlation_clustering:
    order: -952
  Pearson_correlation_clustering:
    order: -953
  samplesconfig: 
    order: -1000


table_columns_placement:
    MACS2:
        treatment_redundant_rate: 1020
        peak_count: 1019

table_columns_visible:
    fastp:
      pct_duplication: True
      after_filtering_q30_rate: False
      after_filtering_q30_bases: False
      after_filtering_gc_content: True
      pct_surviving: True
      pct_adapter: True
    FastQC (raw):
        percent_duplicates: False
        percent_gc: False
        avg_sequence_length: False
        percent_fails: False
        total_sequences: False
    Cutadapt:
        percent_trimmed: True
    FastQC (trimmed):
        percent_duplicates: True
        percent_gc: True
        avg_sequence_length: True
        percent_fails: False
        total_sequences: False
    Picard:
        summed_median: True
        summed_mean: False
        PERCENT_DUPLICATION: True
    SamTools pre-sieve:
        error_rate: False
        non-primary_alignments: False
        reads_mapped: False
        reads_mapped_percent: True
        reads_properly_paired_percent: False
        reads_MQ0_percent: False
        raw_total_sequences: True
    SamTools post-sieve:
        error_rate: False
        non-primary_alignments: False
        reads_mapped: False
        reads_mapped_percent: False
        reads_properly_paired_percent: True
        reads_MQ0_percent: False
        raw_total_sequences: True
    MACS2:
        treatment_redundant_rate: True
        d: False
        peak_count: True
    macs2_frips:
        percent_assigned: True
        Assigned: False
    genrich_frips:
        percent_assigned: True
        Assigned: False
    mtnucratio:
        mt_cov_avg: False
        nuc_cov_avg: True
        mt_nuc_ratio: False
        nucreads: True
        mtreads: True

custom_data:
    macs2_img1:
        section_name: 'Peak feature distribution (macs2)'
        description: 'Figure generated by chipseeker'
    macs2_img2:
        section_name: 'Distribution of peak locations relative to TSS (macs2)'
        description: 'Figure generated by chipseeker' 
    genrich_img1:
        section_name: 'Peak feature distribution (macs2)'
        description: 'Figure generated by chipseeker' 
    genrich_img2:
        section_name: 'Distribution of peak locations relative to TSS (genrich)'
        description: 'Figure generated by chipseeker'
    deeptools_spearman:
        section_name: 'Pileup (BAM) Spearman correlation'
        description: 'Spearman correlation plot generated by deeptools. Spearman correlation is a non-parametric (distribution-free) method, and assesses the monotonicity of the relationship.'
    deeptools_pearson:
        section_name: 'Pileup (BAM) Pearson correlation'
        description: 'Pearson correlation plot generated by deeptools. Pearson correlation is a parametric (lots of assumptions, e.g. normality and homoscedasticity) method, and assesses the linearity of the relationship.'
    deeptools_macs2_heatmap:
        section_name: 'Peak distributions (macs2)'
        description: 'The distribution of read pileup around {{str(config.get("heatmap_npeaks", "NaN"))}} random peaks for each sample. This visualization is a quick and dirty way to check if your peaks look like what you would expect, and what the underlying distribution of different types of peaks is.'
    deeptools_genrich_heatmap:
        section_name: 'Peak distributions (genrich)'
        description: 'The distribution of read pileup around {{str(config.get("heatmap_npeaks", "NaN"))}} random peaks for each sample. This visualization is a quick and dirty way to check if your peaks look like what you would expect, and what the underlying distribution of different types of peaks is.'
    dupRadar:
        description: 'Figures generated by [dupRadar](https://bioconductor.riken.jp/packages/3.4/bioc/vignettes/dupRadar/inst/doc/dupRadar.html#plotting-and-interpretation).'
    Sample_distance_clustering:
        section_name: 'DESeq2 - Sample distance cluster heatmap'
        description: 'Euclidean distance between samples, based on variance stabilizing transformed counts. Gives us an overview of similarities and dissimilarities between samples.'
    Spearman_correlation_clustering:
        section_name: 'DESeq2 - Spearman correlation cluster heatmap'
        description: 'Correlation cluster heatmap based on variance stabilizing transformed counts. Spearman correlation is a non-parametric (distribution-free) method, and assesses the monotonicity of the relationship.'
    Pearson_correlation_clustering:
        section_name: 'DESeq2 - Pearson correlation cluster heatmap'
        description: 'Correlation cluster heatmap based on variance stabilizing transformed counts. Pearson correlation is a parametric (lots of assumptions, e.g. normality and homoscedasticity) method, and assesses the linearity of the relationship.'

