# tab-separated file of the samples
samples: samples.tsv

# pipeline file locations
result_dir: ./results  # where to store results
genome_dir: ./genomes  # where to look for or download the genomes
# fastq_dir: (default is inside result_dir) # where to look for or download the fastqs



# contact info for multiqc report and trackhub
email: yourmail@here.com

# produce bams, bigwigs and QC statistics?
create_trackhub: False

# how to handle replicates
technical_replicates: merge    # change to "keep" to not combine them



##### if create_trackhub == False #####

# which aligner to use
quantifier: star

# or specify which quantifier to use with the option to specify own parameters
#quantifier:
#  salmon:
#    quantifier_index: '-k 31'
#    quantify: '--seqBias --gcBias --validateMappings --recoverOrphans'
#    decoy_aware_index: False  # salmon only. Requires ~65 GB RAM for GRCh38



##### if create_trackhub == True #####

# use 'our' default parameters
aligner: star

# or specify which aligner to use with the option to specify own parameters
# aligner:
#   star:
#     index:  # parameters for indexing
#       ''
#     align:  # parameters for alignment
#       ''

# filtering after alignment
remove_blacklist: True
min_mapping_quality: 255  # (only keep uniquely mapped reads from STAR alignments)



##### differential gene expression analysis (optional) #####

# specify contrasts to perform analysis
#diffexp:
#  deseq2:
#    DE_params:
#      multiple_testing_procedure: BH  # options: BH/IHW
#      alpha_value: 0.05
#      shrinkage_estimator: apeglm
#    contrasts:
#      - 'disease_control_disease'
#      - 'stage_2_1'
#      - 'stage_all_1'
