# tab-separated file of the samples
samples: samples.tsv

# pipeline file locations
result_dir: ./results  # where to store results
genome_dir: ./genomes  # where to look for or download the genomes
# fastq_dir: ./results/fastq  # where to look for or download the fastqs


# contact info for multiqc report and trackhub
email: yourmail@here.com

# produce a UCSC trackhub?
create_trackhub: true

# how to handle replicates
technical_replicates: merge    # change to "keep" to not combine them

# which trimmer to use
trimmer: fastp

# which quantifier to use
quantifier: htseq  # or salmon or featurecounts

# which aligner to use (not used for the gene counts matrix if the quantifier is Salmon)
aligner: star

# filtering after alignment (not used for the gene counts matrix if the quantifier is Salmon)
remove_blacklist: true
min_mapping_quality: 255  # (only keep uniquely mapped reads from STAR alignments)
only_primary_align: true

## differential gene expression analysis
#contrasts:
#  - 'stage_2_1'
