$schema: "http://json-schema.org/draft-07/schema#"

description: seq2science gene expression configuration

properties:
  quantifier:
    description: which quantifier to use
    properties:
      salmon:
        properties:
          quantifier_index:
            default: '-k 31' # minimmum length. Reduce if mapping rate is too low.
          quantifier_flags:
            default: '--seqBias --gcBias --validateMappings --recoverOrphans' # --posBias experimental flag
          decoy_aware_index:
            default: False
        default:
          quantifier_index: '-k 31'
          quantifier_flags: '--seqBias --gcBias --validateMappings --recoverOrphans'
          decoy_aware_index: False
      htseq:
        properties:
          htseq_flags:
            default: ''
        default:
          htseq_flags: ''
      featurecounts:
        properties:
          featurecounts_flags:
            default: ''
        default:
          featurecounts_flags: ''
    default:
      htseq:
        htseq_flags: ''

  tpm2counts:
    description: how do you wish to convert TPMs to gene counts?
    properties:
      tximeta:
        description: Tximeta uses Ensembl/GENCODE assemblies to convert TPMs to gene counts, and produces an additional R object with the various contents.
        properties:
          source:
            description: the source of transcriptome
            enum: [ Ensembl, GENCODE, de-novo ]
            default: de-novo
          organism:
            description: organism (e.g. "Homo sapiens")
            default: tximeta_file
          release:
            description: release number of the source database (e.g. "101")
            default: 42
        default:
          source: de-novo
          organism: tximeta_file
          release: 42
      pytxi:
        description: Pytxi uses genomepy assemblies to convert TPMs to gene counts (using either the GTF file or MyGene.info).
        properties:
          tx2gene_from_gtf:
            description: try to convert to gene names (symbols) using the GTF file. If false (or the GTF cannot help), pytxi uses MyGene.info.
            type: boolean
            default: true
        default:
          tx2gene_from_gtf: true
    default:
      pytxi:
        tx2gene_from_gtf: true

  ignore_strandedness:
    description: ignore/dont infer strand-specificity?
    default: False
    type: boolean

  # differential transcript usage
  dexseq:
    description: output an exon counts matrix for use in DEXSeq.
    default: False
    type: boolean
