$schema: "http://json-schema.org/draft-06/schema#"

description: seq2science gene expression configuration

properties:
  # paths to store results
  counts_dir:
    description: directory where to store the gene counts for DGE analysis (defaults inside the result dir)
    default: gene_counts
    type: string
  dge_dir:
    description: directory where to store the workflow differential gene analysis output (defaults inside the result dir)
    default: deseq2
    type: string

  quantifier:
    description: which quantifier to use
    properties:
      salmon:
        properties:
          quantifier_index:
            default: '-k 31' # minimmum length. Reduce if mapping rate is too low.
          quantifier_flags:
            default: '--seqBias --gcBias --validateMappings --recoverOrphans' # --posBias experimental flag
          decoy_aware_index:
            default: False
        default:
          quantifier_index: '-k 31'
          quantifier_flags: '--seqBias --gcBias --validateMappings --recoverOrphans'
          decoy_aware_index: False
      htseq:
        properties:
          htseq_flags:
            default: ''
        default:
          htseq_flags: ''
      featurecounts:
        properties:
          featurecounts_flags:
            default: ''
        default:
          featurecounts_flags: ''
    default:
      htseq:
        htseq_flags: ''

  tximeta:
    description: tximeta is used to convert salmon output (estimated transcript abundances) to a gene counts matrix. Currently, these values can be ignored.
    properties:
      source:
        default: Ensembl # the source of transcriptome (only works with "Ensembl")
      organism:
        default: tximeta_file # organism (e.g. "Homo sapiens")
      release:
        default: 42 # release number (e.g. "27")
    default:
      source: Ensembl
      organism: tximeta_file
      release: 42

  # optional: differential expression analysis
  diffexp:
    description: which differential expression analysis to use (DESeq2 or None, default is None). Will not run without a contrast.
    type: object
    properties:
      deseq2:
        properties:
          DE_params:
            default:
              multiple_testing_procedure: BH #alternative: IHW
              alpha_value: 0.1
              shrinkage_estimator: apeglm
          contrasts:
            default: ''
        default:
          contrasts: ''
    default:
      None:
        contrasts: ''
