$schema: "http://json-schema.org/draft-06/schema#"

description: seq2science peak calling configuration

properties:
  dge_dir:
    description: directory where to store the workflow differential peak analysis output (defaults inside the result dir)
    default: deseq2
    type: string

  # peak caller algorithms
  peak_caller:
    type: object
    properties:
      genrich:  {type: string}
      hmmratac: {type: string}
      macs2:    {type: string}
    minProperties: 1   # if you want to have at least one
    additionalProperties: false
    default:
      macs2: --shift -100 --extsize 200 --nomodel --keep-dup 1 --buffer-size 10000

  # keep macs2 mates when peak calling with shift
  macs2_keep_mates:
    description: which method to use to combine replicates (idr or fisher)
    default: false
    type: boolean

  peak_windowsize:
    description: when combining narrowpeaks, how much each summit should be extended by when considering overlapping peaks. A summit is expanded by the windowsize on each side, so the total width is twice the peak_windowsize.
    default: 100
    type: integer

  slop:
    description: how much the summits should be extended by (on each side) for making a peak count table. When for instance a slop of 100 is chosen, the final peak's width is 200.
    default: 100
    type: integer

  logbase:
    description: The log base of the number of reads under peak count tables
    default: 2
    type: number
