$schema: "http://json-schema.org/draft-06/schema#"

description: seq2science gene expression configuration

properties:
  # paths to store results
  fastq_clean_dir:
    description: directory where to find the workflow rules
    default: fastq_cleaned
    type: string
  # fastq-pair
  fastq-pair:
      description: fastq synchronization
      default: ''
  # quantifier
  quantifier:
    description: which quantifier to use
    properties:
      citeseqcount:
        properties:
          count: 
            default: '-cbf 9 -cbl 16 -umif 1 -umil 8 -cells 372 --max-error 1 --bc_collapsing_dist 1 --umi_collapsing_dist 1'
      kallistobus:
        properties:
          ref:
            default: '--workflow lamanno'
          count:
            default: '-x 10XV3 --verbose --h5ad --workflow lamanno'
            
    default:
      kallistobus:
        ref: '--workflow lamanno'
        count: '-x 10XV3 --verbose --h5ad --workflow lamanno'
        
  barcodefile:
    type: string
      
  sc_preprocess:
    description: Pre-processing settings for scRNA-seq data
    properties:
      export_sce_objects:
        description: Export scRNA-seq UMI count tables to SingleCellExperiment objects and save in .Rds file format
        default: False
        type: boolean
      run_sctk_qc:
        description: Run singleCellTK quality control workflow
        default: False
        type: boolean  
      velo_assay:
        description: Count assay to use for export and quality control when kb is run with --workflow lamanno
        default: 'spliced'
        enum: ['spliced', 'unspliced']
      sctk_data_type: 
        description: Type of UMI count matrix, either cell or droplet counts
        default: 'cell'
        enum: ['cell','droplet']
      sctk_detect_cell:
        description: Perform cell calling for droplet based scRNA-seq assays
        default: True
        type: boolean
      sctk_cell_calling:
        description: Cell calling method to use
        default : 'Knee'
        enum: ['EmptyDrops', 'Knee']
      sctk_export_formats:
        description: File formats for SingleCellExperiment object export
        default: ['Seurat']
        type: array
      use_alt_expr:
        description: Process alternative experiments (if present) such as ERCC Spike-in's  
        default: False
        type: boolean
      alt_exp_reg:
        description: Regular expression for alternative feature filtering from gene identifiers
        default: 'ERCC-*'
        type: string
      alt_exp_name: 
        description: Name for the alternative assay to store along SCE object
        default: 'ALT'
        type: string
  
