$schema: "http://json-schema.org/draft-06/schema#"

description: seq2science gene expression configuration

properties:
  # paths to store results
  fastq_clean_dir:
    description: directory where to find the workflow rules
    default: fastq_cleaned
    type: string
  # fastq-pair
  fastq-pair:
      description: fastq synchronization
      default: ''
  # quantifier
  quantifier:
    description: which quantifier to use
    properties:
      citeseqcount:
        properties:
          count: 
            default: '-cbf 9 -cbl 16 -umif 1 -umil 8 -cells 372 --max-error 1 --bc_collapsing_dist 1 --umi_collapsing_dist 1'
      kallistobus:
        properties:
          ref:
            default: '--workflow lamanno'
          count:
            default: '-x 10XV3 --verbose --h5ad --workflow lamanno'
            
    default:
      kallistobus:
        ref: '--workflow lamanno'
        count: '-x 10XV3 --verbose --h5ad --workflow lamanno'
        
  barcodefile:
    type: string
      
  sc_preprocess:
    description: "Pre-processing settings for scRNA data"
    properties:
      export_sce_objects:
        description: "Export scRNA count tables to SingleCellExperiment and save in RDS format"
        type: boolean   
      use_alt_expr:
        description: "Store alternative experiments"  
        type: boolean
      alt_exp_name: 
        description: "Name of the alternative experiment"
        type: string
      alt_exp_reg:
        description: "Regex to fitler alt exp from main experiment"
        type: string
      run_sctk_qc:
        description: "Generate QC reports with singleCellTK"
        type: boolean   
        default: false  
      sctk_data_type: 
        description: "Type of data, either cell or droplet"
        type: string
      sctk_detect_mito:
        description: "Wheter to perform mitochondrial gene detection"
        type: boolean
      sctk_mito_set:
        description: "Mitochondrial gene set for quality control"
        enum: ["human-ensembl", "mouse-ensembl", "human-entrez", "mouse-entrez", "human-symbol", "mouse-symbol"]
      sctk_detect_cell:
        description: "Wheter to perform cell calling for droplet based methods"
        type: boolean
        default: true
      sctk_cell_calling:
        description: "Type of cell calling method"
        enum: ["EmptyDrops", "Knee"]
        
    default:
      export_sce_objects: False
      run_sctk_qc: False
      sctk_data_type: cell
      sctk_detect_cell: True
      sctk_cell_calling: Knee
      sctk_detect_mito: True
      sctk_mito_set: human-ensembl
      use_alt_expr: False
      alt_exp_name: "ALT"
      alt_exp_reg: ""
