# tab-separated file of the samples
samples: samples.tsv

# pipeline file locations
result_dir: ./results  # where to store results
genome_dir: ./genomes  # where to look for or download the genomes
# fastq_dir: (default is inside result_dir) # where to look for fastqs

# contact info for multiqc report and trackhub
email: yourmail@here.com

# how to handle replicates
technical_replicates: merge

# scRNA options
# seq2science does currently not support scrna-seq platforms that generate more than two fastq files, such as 10xv1.
quantifier:
  kallistobus:
    ## Kallistobus - Quantification example ##
    #count: '-x 0,8,16:0,0,8:1,0,0 --h5ad --verbose'
    #count: '-x 10XV3 --h5ad --verbose'

    ## Kallistobus - Velocity example ##
    #ref: '--workflow lamanno'
    #count: '-x 0,8,16:0,0,8:1,0,0 --h5ad --verbose --workflow lamanno'
    count: '-x 10XV3 --verbose --h5ad --workflow lamanno'
    
    ## Kallistobus - ADT quantification example
    #ref: 'workflow kite'
    #count: '-x 10XV3 --verbose --h5ad --workflow kite'

    ## cite-seq-count ADT quantification (comment kallistobus)
  #citeseqcount:
    #count: '-cbf 9 -cbl 16 -umif 1 -umil 8 -cells 372 --max-error 1 --bc_collapsing_dist 1 --umi_collapsing_dist 1'

# Optional for unsupported technologies
#barcodefile: "barcodes.txt"

# Export Seurat object
export_seu_objects: True

seurat_object:
    project_name: merged
    min_cells: 0
    min_features: 0

# Quality control with singleCellTK
run_sctk_qc: False

sctk:
    data_type: cell
    mito_set: human-ensembl
