# tab-separated file of the samples
samples: samples.tsv

# pipeline file locations
result_dir: ./results  # where to store results
genome_dir: ./genomes  # where to look for or download the genomes
# fastq_dir: (default is inside result_dir) # where to look for fastqs
bigwig_dir: ./bigwig
deeptools_flags: ""

# contact info for multiqc report and trackhub
email: yourmail@here.com

# how to handle replicates
technical_replicates: merge

# scRNA options
# the umi/bc/read order is automatically infered from the -x parameter (https://pachterlab.github.io/kallisto/manual).
# seq2science does currently not support scrna-seq platforms that generate more than two fastq files, such as 10xv1.
quantifier:
  kallistobus:
    ref: '--lamanno'
    count: '-x 0,8,16:0,0,8:1,0,0 --verbose --lamanno'

barcodefile: "barcodes.txt"
